/*                                                    INDEX PAGE STYLING */
/* Hero */
#hero-image .container-fluid {
    padding: 0;
}

/* Facilities */
#facilities > div {
    margin-top: 2%;
}

#facilities .bg-offwhite {
    border-radius: 5px;
}

.facilities-image {
    width: 100%;
    padding: 10% 0;
    height: 260px;
}

#gym-equipment h5 {
    font-size: 1rem;
    font-weight: 700;
    color: #525252;
}

#gym-equipment ul {
    list-style: none;
    padding-left: 20px;
}

#gym-equipment ul li {
    margin: 4% 0;
}

/* Testimonies */
#testimonies img {
    width: 100%;
    max-width: 250px;
    padding: 3% 0;
    border-radius: 50%;
}

#testimonies > div {
    padding: 5% 0;
}

/*                                                    CLASSES PAGE STYLING */

/* Classes Nav */

#classes-tabs {
    text-align: left;
}

#classes-tabs.nav-tabs {
    border-bottom: none;
}

#classes-tabs-content {
    text-align: left;
    height: 100%;
}

#classes-tabs-content > div {
    height: 100%;
}

#classes-tabs-content .bg-offwhite {
    color: #525252;
}

/* Class Timetable */

#classes-calendar {
    margin-bottom: 5%;
}

#classes-calendar th {
    width: 20%;
}

#classes-calendar td {
    width: 40%;
}

#classes-calendar td[colspan="2"] {
    width: 80%;
}

.class-timetable {
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.timetable-hour {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0 5px;
    line-height: 1.5;
    transform: rotate(270deg);
}

/* Timetable Item */

.timetable-item {
    background-color: #fff;
    padding: 1% 3%;
    border-radius: 3px;
    width: 90%;
    max-width: 102px;
    height: 114px;
    margin: 5%;
    text-align: left;
}

td[colspan="2"] .timetable-item {
    padding: .5% 1.5%;
    margin: 2.5%;
    width: 45%;
    max-width: 102px;
}

.timetable-item div {
    margin: 5% 0;
}

.item-class {
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;
}

.item-time {
    color: #000;
    font-weight: 900;
    font-size: .9rem;
}

.item-length {
    font-size: .7rem;
}

.item-leader {
    font-size: .7rem;
}

/* Class Details */
#class-details img {
    width: 100%;
    max-width: 250px;
    padding: 5%;
}

/*                                                    INFORMATION PAGE STYLING */
#information .lg-header {
    padding-top: 3%;
}

/* Contact Us */
#contact-us .bg-light-blue {
    border-radius: 5px;
}

#contact-us img {
    width: 100%;
    max-width: 250px;
    padding: 3%;
}

#contact-us a {
    color: inherit;
}

#contact-us .col-8 {
    padding-left: 5%;
}

/* FAQS */
.faq-item {
    padding: 4%;
}

.faq-toc {
    padding-top: 3%;
    text-align: center;
}

.faq-container .toc-contents {
    text-align: left;
}

/* Disclaimer */
#disclaimer {
    margin-bottom: 3%;
}

#disclaimer p {
    padding: 0 4%;
}

/*                                                    PRICING PAGE STYLING */
/* Hero */
#pricing-hero .container-fluid {
    padding: 0;
    overflow-x: hidden;
}

#pricing-hero .banner-text {
    position: absolute;
    text-align: center;
    color: #28527a;
    font-weight: 900;
    top: 15%;
    left: 1%;
    transform: translate(0);
    background-color: #fcfcfc;
    border-radius: 4px;
    opacity: 0.9;
    height: 300px;
    width: 300px;
}

/* Card Styling */
#pricing .card {
    margin: 3% 0;
}

#pricing .card-body {
    padding: 0.5%;
}

#pricing .card img {
    width: 100%;
}

#pricing .card-text {
    padding: 2% 0 2% 2%;
}

/* Membership Styling */
.membership-header {
    position: relative;
    min-height: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 1.25rem;
}

.membership-title {
    position: absolute;
    left: 3%;
    top: 3%;
}

.membership-price {
    position: absolute;
    right: 3%;
    top: 3%;
}

.monthly-container {
    position: absolute;
    right: 3%;
    bottom: 3%;
}

#basic-membership .membership-header {
    background-color: #8ac4d0;
}

#basic-membership i {
    color: #8ac4d0;
}

#enhanced-membership .membership-header {
    background-color: #7aa130;
}

#enhanced-membership i {
    color: #7aa130;
}

/*                                                    404 PAGE STYLING */
#error {
    min-height: 75vh;
    /* https://unsplash.com/photos/fk4tiMlDFF0 */
    background-image: url(../images/puppy.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    position: relative;
}

#error .container-fluid {
    padding: 0;
}

/*                                                    MEDIA QUERIES */
@media (min-width: 480px) and (max-width: 575px) {
    /* CLASSES PAGE STYLING */
    #classes-calendar .col-sm-3 {
        /* Styling taken from bootstrap classes */
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    #classes-calendar .col-sm-9 {
        /* Styling taken from bootstrap classes */
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    /* Timetable Item */
    .timetable-item {
        max-width: none;
        width: 115px;
        height: 115px;
    }

    td[colspan="2"] .timetable-item {
        max-width: none;
        width: 115px;
    }
}

@media (min-width: 576px) {
    /* CLASSES PAGE STYLING */
    /* Timetable Item */
    .timetable-item {
        max-width: none;
        width: 130px;
        height: 130px;
    }

    td[colspan="2"] .timetable-item {
        max-width: none;
        width: 130px;
    }
}

@media (min-width: 768px) {
    /* CLASSES PAGE STYLING */
    .timetable-hour {
        padding-left: 7%;
    }
}

@media (min-width: 1200px){
    /* CLASSES PAGE STYLING */
    #classes-tabs {
        margin-bottom: 10px;
    }

    #pricing-hero .banner-text {
        left: 3%;
        top: 7%;
    }
}